:root{
    --size: 16;
}

.grid-container{
    position: relative;
    top: 80px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.container{
    display: grid;
    height: 720px;
    width: 720px;
    grid-template-rows: repeat(var(--size),1fr);
    grid-template-columns: repeat(var(--size),1fr);
    /* grid-gap: 1px; */
    border: 1px solid #000000;
}



.box{
    border: .1px solid #000000;
}
